@import url(../styles/common.css);

#posts {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 3%;
}

.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.userImage {
  width: 44px;
  height: 44px;

  margin-bottom: 2rem;
  border-radius: 22px;
}

.imageContainer {
  margin: 0 6%;
}

.postImage {
  width: 100%;
  border-radius: 10px;
}
