.gender-selection__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #fff;
  font-family: Inter;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.gender-selection__main > h1 {
  font-size: 30px;
}

.navigation__button {
  width: 100%;
  padding: 0 auto;
  font-size: 2rem;
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  background-color: #4e5656;
  cursor: pointer;
}

.gender__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.change-gender {
  width: 5%;
  padding: 1em 0;
}
