.header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.header > button {
  background-color: transparent;
  border: 0;
}

.header > h1 {
  color: #ffffff;
  font-size: 1.875rem;
  padding-left: 0.5rem;
}
